In [3]:
import pandas as pd

/home/ubuntu/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/ubuntu/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/ubuntu/.local/lib/python3.10/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.22.4 in /home/ubuntu/.local/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ubuntu/.local/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 25.3
[notice] To update, run: python3 -m pip install --upgrade pip

In [29]:
import pandas as pd

In [30]:
import numpy as np

In [31]:
df=pd.read_csv("loan_approval_data.csv")

In [32]:
df.head()

,Applicant ID,Gender,Marital Status,Age,Employment Status,Employment History (Years),Annual Income,Co-applicant Income,Loan Amount Requested,Loan Term (Months),Credit History,Credit Score,Existing Loan EMI,Debt-to-Income Ratio,Property Area,Approval Status
0,d97b74d8-fe58-470f-a247-10eb3261dc32,Male,Single,38,Employed,11,93786,43733,57604,360,0,349,515,0.17,Rural,1
1,8a196bf0-da41-40cb-9f10-8966c8ced8c9,Male,Single,51,Self-employed,1,64181,28775,485041,180,1,516,1660,0.30,Semi-Urban,1
2,4533c308-6a1d-4098-be93-d24d9038aef5,Female,Single,58,Self-employed,22,65055,34014,121115,60,2,760,1476,0.36,Rural,1
3,24339a68-f0ec-4f0c-aa6b-7b37941f9ae2,Female,Married,41,Self-employed,16,137445,6402,305655,240,2,398,854,0.26,Semi-Urban,1
4,a6e49169-0f05-44ab-ba48-75143b99742b,Female,Single,50,Self-employed,0,84672,40642,387347,300,1,523,1928,0.18,Rural,1

In [33]:
df.isnull().sum()

Applicant ID                  0
Gender                        0
Marital Status                0
Age                           0
Employment Status             0
Employment History (Years)    0
Annual Income                 0
Co-applicant Income           0
Loan Amount Requested         0
Loan Term (Months)            0
Credit History                0
Credit Score                  0
Existing Loan EMI             0
Debt-to-Income Ratio          0
Property Area                 0
Approval Status               0
dtype: int64

In [34]:
df.columns

Index(['Applicant ID', 'Gender', 'Marital Status', 'Age', 'Employment Status',
       'Employment History (Years)', 'Annual Income', 'Co-applicant Income',
       'Loan Amount Requested', 'Loan Term (Months)', 'Credit History',
       'Credit Score', 'Existing Loan EMI', 'Debt-to-Income Ratio',
       'Property Area', 'Approval Status'],
      dtype='object')

In [35]:
df[['Applicant ID','Gender','Age','Annual Income','Approval Status']].head(10)

,Applicant ID,Gender,Age,Annual Income,Approval Status
0,d97b74d8-fe58-470f-a247-10eb3261dc32,Male,38,93786,1
1,8a196bf0-da41-40cb-9f10-8966c8ced8c9,Male,51,64181,1
2,4533c308-6a1d-4098-be93-d24d9038aef5,Female,58,65055,1
3,24339a68-f0ec-4f0c-aa6b-7b37941f9ae2,Female,41,137445,1
4,a6e49169-0f05-44ab-ba48-75143b99742b,Female,50,84672,1
5,2cb4039d-09d0-4824-8362-e339474d820c,Female,24,124320,0
6,6f635e8f-a68b-47a8-9251-49e73e16ca7a,Female,41,88361,0
7,07f5cb92-8a76-4d9f-b76f-3ad526b0916f,Female,34,0,1
8,9b92241e-d7d9-49d1-9bcc-89070e7d5c3e,Female,26,0,1
9,02d95201-32c2-4429-b740-689d44d059a0,Female,55,0,0

In [36]:
df[df['Approval Status']==1]

,Applicant ID,Gender,Marital Status,Age,Employment Status,Employment History (Years),Annual Income,Co-applicant Income,Loan Amount Requested,Loan Term (Months),Credit History,Credit Score,Existing Loan EMI,Debt-to-Income Ratio,Property Area,Approval Status
0,d97b74d8-fe58-470f-a247-10eb3261dc32,Male,Single,38,Employed,11,93786,43733,57604,360,0,349,515,0.17,Rural,1
1,8a196bf0-da41-40cb-9f10-8966c8ced8c9,Male,Single,51,Self-employed,1,64181,28775,485041,180,1,516,1660,0.30,Semi-Urban,1
2,4533c308-6a1d-4098-be93-d24d9038aef5,Female,Single,58,Self-employed,22,65055,34014,121115,60,2,760,1476,0.36,Rural,1
3,24339a68-f0ec-4f0c-aa6b-7b37941f9ae2,Female,Married,41,Self-employed,16,137445,6402,305655,240,2,398,854,0.26,Semi-Urban,1
4,a6e49169-0f05-44ab-ba48-75143b99742b,Female,Single,50,Self-employed,0,84672,40642,387347,300,1,523,1928,0.18,Rural,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,c3f27e76-599b-4f20-aeaf-b5fa3e3fb38d,Male,Married,52,Unemployed,0,0,0,227024,60,1,401,798,0.13,Semi-Urban,1
9996,35cce762-11ca-4a4a-904c-7c4f74d8aced,Male,Married,28,Employed,15,122192,15479,341828,360,2,728,1196,0.41,Urban,1
9997,67d8629f-dee1-4a08-8140-1cdbfe030a02,Female,Single,45,Employed,12,129325,32675,230943,120,1,661,1943,0.46,Urban,1
9998,3dea7a4b-d6f6-44c0-973d-32204c4d1df0,Male,Married,34,Employed,16,143775,1237,92376,120,0,489,884,0.37,Semi-Urban,1
9999,59a3b352-29c9-40a1-9834-8dd0676ce888,Female,Married,36,Unemployed,0,0,0,469087,300,1,642,1494,0.42,Rural,1

In [37]:
df[(df['Annual Income']>50000) & (df['Credit Score']>700)]

,Applicant ID,Gender,Marital Status,Age,Employment Status,Employment History (Years),Annual Income,Co-applicant Income,Loan Amount Requested,Loan Term (Months),Credit History,Credit Score,Existing Loan EMI,Debt-to-Income Ratio,Property Area,Approval Status
2,4533c308-6a1d-4098-be93-d24d9038aef5,Female,Single,58,Self-employed,22,65055,34014,121115,60,2,760,1476,0.36,Rural,1
12,e1e49ebb-8fcf-4ecb-b748-83837b4b57c3,Male,Married,32,Employed,30,85665,15412,436251,120,2,720,193,0.22,Semi-Urban,1
16,9b8f9574-a72e-4a4e-af51-15a87a00745f,Female,Married,20,Employed,1,132065,37979,368728,120,0,821,1851,0.27,Semi-Urban,0
19,f0a21ef6-9e88-43fd-893f-52dd0364b196,Male,Married,35,Employed,10,127531,24165,136038,60,1,724,780,0.34,Rural,1
22,38ad0c88-bc8a-40a5-a08f-ab0f54e23a3d,Male,Single,53,Employed,8,99755,38546,207203,300,0,712,586,0.35,Rural,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9963,a7d8e7d6-bb0c-4905-801b-2eff552e916c,Male,Married,30,Employed,23,77351,42168,251742,120,2,812,590,0.28,Rural,1
9967,ad586de5-7ad1-4939-a709-57c72f0eea68,Female,Married,51,Employed,1,80882,11226,313304,60,0,770,477,0.42,Urban,1
9973,52565a6c-19f2-4665-8a33-4ddcca72f656,Male,Single,56,Self-employed,22,90733,27587,340675,360,0,745,1682,0.37,Rural,1
9984,da777cfa-3d2c-4c9e-943c-01e6af37af62,Female,Single,30,Self-employed,15,63947,45379,442475,180,2,763,592,0.50,Urban,1
9996,35cce762-11ca-4a4a-904c-7c4f74d8aced,Male,Married,28,Employed,15,122192,15479,341828,360,2,728,1196,0.41,Urban,1

In [38]:
df.iloc[0:5,1:5]

   Gender Marital Status  Age Employment Status
0    Male         Single   38          Employed
1    Male         Single   51     Self-employed
2  Female         Single   58     Self-employed
3  Female        Married   41     Self-employed
4  Female         Single   50     Self-employed

In [39]:
df.iloc[50:61,[11,8]]

    Credit Score  Loan Amount Requested
50           591                 208640
51           531                 101352
52           584                 186427
53           324                 431379
54           369                 234112
55           407                 319258
56           760                 155026
57           447                 195837
58           519                 385936
59           597                 240424
60           558                 460758

In [40]:
df.iloc[24]['Annual Income']

27449

In [41]:
df.loc[22,['Applicant ID','Approval Status']]

Applicant ID       38ad0c88-bc8a-40a5-a08f-ab0f54e23a3d
Approval Status                                       1
Name: 22, dtype: object

In [42]:
df[(df['Property Area']=='Urban')&(df['Gender']=='Female')&(df['Approval Status']==0)]

,Applicant ID,Gender,Marital Status,Age,Employment Status,Employment History (Years),Annual Income,Co-applicant Income,Loan Amount Requested,Loan Term (Months),Credit History,Credit Score,Existing Loan EMI,Debt-to-Income Ratio,Property Area,Approval Status
6,6f635e8f-a68b-47a8-9251-49e73e16ca7a,Female,Single,41,Self-employed,24,88361,27585,492803,240,1,311,1242,0.33,Urban,0
33,fa462045-588e-4390-a9c3-2a8f6cd73e0d,Female,Married,31,Unemployed,0,0,0,400172,60,0,432,1758,0.24,Urban,0
35,2b1128bb-86b6-4a22-9d26-ef14a1bb7846,Female,Married,59,Self-employed,16,139893,36986,293839,60,0,469,719,0.30,Urban,0
46,5ea3dd31-2ea6-46ef-bb80-3220dfb372ed,Female,Single,41,Self-employed,8,79646,33224,101099,180,0,487,1165,0.12,Urban,0
57,fde149cf-4758-4a7a-adf7-128c75ddb265,Female,Married,51,Self-employed,14,142763,2,195837,180,0,447,156,0.45,Urban,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9856,cab0f85e-198c-4384-8cd5-d2c23073faa9,Female,Married,29,Self-employed,0,88578,36490,195300,300,2,548,1146,0.28,Urban,0
9877,9efe7f04-7891-4bae-b832-3db8c19dee36,Female,Single,51,Employed,21,33532,49800,304139,60,2,696,900,0.36,Urban,0
9906,fff859c1-a0c8-473a-a70a-4e50e40b0718,Female,Single,59,Employed,5,98712,16046,161482,60,0,741,1962,0.31,Urban,0
9910,18cc1f8b-58cb-45f2-a445-370adf680fbb,Female,Married,33,Self-employed,25,124452,25112,322018,180,1,705,1178,0.12,Urban,0
9974,1f2644c3-0e7f-4f1f-bebf-d63548c2f034,Female,Married,25,Employed,21,143283,48069,235564,180,0,439,1992,0.45,Urban,0

In [47]:
df[(df['Property Area']=='Urban')&(df['Gender']=='Female')&(df['Approval Status']==0)]

,Applicant ID,Gender,Marital Status,Age,Employment Status,Employment History (Years),Annual Income,Co-applicant Income,Loan Amount Requested,Loan Term (Months),Credit History,Credit Score,Existing Loan EMI,Debt-to-Income Ratio,Property Area,Approval Status
6,6f635e8f-a68b-47a8-9251-49e73e16ca7a,Female,Single,41,Self-employed,24,88361,27585,492803,240,1,311,1242,0.33,Urban,0
33,fa462045-588e-4390-a9c3-2a8f6cd73e0d,Female,Married,31,Unemployed,0,0,0,400172,60,0,432,1758,0.24,Urban,0
35,2b1128bb-86b6-4a22-9d26-ef14a1bb7846,Female,Married,59,Self-employed,16,139893,36986,293839,60,0,469,719,0.30,Urban,0
46,5ea3dd31-2ea6-46ef-bb80-3220dfb372ed,Female,Single,41,Self-employed,8,79646,33224,101099,180,0,487,1165,0.12,Urban,0
57,fde149cf-4758-4a7a-adf7-128c75ddb265,Female,Married,51,Self-employed,14,142763,2,195837,180,0,447,156,0.45,Urban,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9856,cab0f85e-198c-4384-8cd5-d2c23073faa9,Female,Married,29,Self-employed,0,88578,36490,195300,300,2,548,1146,0.28,Urban,0
9877,9efe7f04-7891-4bae-b832-3db8c19dee36,Female,Single,51,Employed,21,33532,49800,304139,60,2,696,900,0.36,Urban,0
9906,fff859c1-a0c8-473a-a70a-4e50e40b0718,Female,Single,59,Employed,5,98712,16046,161482,60,0,741,1962,0.31,Urban,0
9910,18cc1f8b-58cb-45f2-a445-370adf680fbb,Female,Married,33,Self-employed,25,124452,25112,322018,180,1,705,1178,0.12,Urban,0
9974,1f2644c3-0e7f-4f1f-bebf-d63548c2f034,Female,Married,25,Employed,21,143283,48069,235564,180,0,439,1992,0.45,Urban,0

In [43]:
df.columns

Index(['Applicant ID', 'Gender', 'Marital Status', 'Age', 'Employment Status',
       'Employment History (Years)', 'Annual Income', 'Co-applicant Income',
       'Loan Amount Requested', 'Loan Term (Months)', 'Credit History',
       'Credit Score', 'Existing Loan EMI', 'Debt-to-Income Ratio',
       'Property Area', 'Approval Status'],
      dtype='object')

In [76]:
df_indexed= df.set_index('Applicant ID')

In [79]:
df_indexed.columns

Index(['Gender', 'Marital Status', 'Age', 'Employment Status',
       'Employment History (Years)', 'Annual Income', 'Co-applicant Income',
       'Loan Amount Requested', 'Loan Term (Months)', 'Credit History',
       'Credit Score', 'Existing Loan EMI', 'Debt-to-Income Ratio',
       'Property Area', 'Approval Status'],
      dtype='object')

In [87]:
df.set_index('Applicant ID').loc['d352e9b3-7046-4813-9b8a-943e802b9203']

Gender                                 Male
Marital Status                      Married
Age                                      43
Employment Status             Self-employed
Employment History (Years)               22
Annual Income                        121967
Co-applicant Income                    7914
Loan Amount Requested                423493
Loan Term (Months)                      120
Credit History                            0
Credit Score                            630
Existing Loan EMI                       867
Debt-to-Income Ratio                   0.39
Property Area                         Urban
Approval Status                           1
Name: d352e9b3-7046-4813-9b8a-943e802b9203, dtype: object

In [88]:
df['Total Income']=df['Annual Income']+df['Co-applicant Income']

In [89]:
df

,Applicant ID,Gender,Marital Status,Age,Employment Status,Employment History (Years),Annual Income,Co-applicant Income,Loan Amount Requested,Loan Term (Months),Credit History,Credit Score,Existing Loan EMI,Debt-to-Income Ratio,Property Area,Approval Status,Total Income
0,d97b74d8-fe58-470f-a247-10eb3261dc32,Male,Single,38,Employed,11,93786,43733,57604,360,0,349,515,0.17,Rural,1,137519
1,8a196bf0-da41-40cb-9f10-8966c8ced8c9,Male,Single,51,Self-employed,1,64181,28775,485041,180,1,516,1660,0.30,Semi-Urban,1,92956
2,4533c308-6a1d-4098-be93-d24d9038aef5,Female,Single,58,Self-employed,22,65055,34014,121115,60,2,760,1476,0.36,Rural,1,99069
3,24339a68-f0ec-4f0c-aa6b-7b37941f9ae2,Female,Married,41,Self-employed,16,137445,6402,305655,240,2,398,854,0.26,Semi-Urban,1,143847
4,a6e49169-0f05-44ab-ba48-75143b99742b,Female,Single,50,Self-employed,0,84672,40642,387347,300,1,523,1928,0.18,Rural,1,125314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,fbce7d2e-ad75-4510-ad66-a4bba6d2fe4d,Male,Single,57,Unemployed,0,0,0,430040,60,1,349,1932,0.12,Semi-Urban,0,0
9996,35cce762-11ca-4a4a-904c-7c4f74d8aced,Male,Married,28,Employed,15,122192,15479,341828,360,2,728,1196,0.41,Urban,1,137671
9997,67d8629f-dee1-4a08-8140-1cdbfe030a02,Female,Single,45,Employed,12,129325,32675,230943,120,1,661,1943,0.46,Urban,1,162000
9998,3dea7a4b-d6f6-44c0-973d-32204c4d1df0,Male,Married,34,Employed,16,143775,1237,92376,120,0,489,884,0.37,Semi-Urban,1,145012
9999,59a3b352-29c9-40a1-9834-8dd0676ce888,Female,Married,36,Unemployed,0,0,0,469087,300,1,642,1494,0.42,Rural,1,0

In [91]:
df['Loan-to-Income']=df['Loan Amount Requested']/df['Total Income']

In [94]:
(df['Total Income']==0).value_counts()

Total Income
False    6748
True     3252
Name: count, dtype: int64

In [98]:
df[(df['Age']>30)&(df['Property Area']=='Semi-Urban')&(df['Credit History']==2)]

,Applicant ID,Gender,Marital Status,Age,Employment Status,Employment History (Years),Annual Income,Co-applicant Income,Loan Amount Requested,Loan Term (Months),Credit History,Credit Score,Existing Loan EMI,Debt-to-Income Ratio,Property Area,Approval Status,Total Income,Loan-to-Income
3,24339a68-f0ec-4f0c-aa6b-7b37941f9ae2,Female,Married,41,Self-employed,16,137445,6402,305655,240,2,398,854,0.26,Semi-Urban,1,143847,2.124862
12,e1e49ebb-8fcf-4ecb-b748-83837b4b57c3,Male,Married,32,Employed,30,85665,15412,436251,120,2,720,193,0.22,Semi-Urban,1,101077,4.316026
24,fb5f0925-313f-4213-b975-7b8e82c0f430,Female,Single,46,Employed,23,27449,49915,466946,360,2,439,363,0.37,Semi-Urban,1,77364,6.035701
53,f9bb9c13-a0cb-4901-81a3-5a1b76c8b111,Male,Single,48,Self-employed,26,46346,9752,431379,60,2,324,1355,0.36,Semi-Urban,1,56098,7.689739
66,a1737ca3-9b27-496e-b9fa-08334e024c91,Male,Married,42,Unemployed,0,0,0,408737,180,2,451,1764,0.28,Semi-Urban,0,0,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9918,e6b42455-3a0c-4348-84e1-465c1414bbcb,Female,Married,51,Unemployed,0,0,0,337226,60,2,328,1697,0.31,Semi-Urban,1,0,inf
9921,7502794e-83aa-438b-95cf-7e2ef8474da6,Male,Single,50,Employed,7,25909,36543,187614,120,2,818,1470,0.44,Semi-Urban,1,62452,3.004131
9940,063d8788-35c6-4006-bf28-2f13c3a6a7e3,Male,Single,42,Unemployed,0,0,0,419269,180,2,566,1578,0.34,Semi-Urban,0,0,inf
9945,02739b56-9bb8-4a53-9e35-a6d2d88bcb34,Male,Single,38,Self-employed,30,93171,34088,274057,240,2,751,1220,0.27,Semi-Urban,0,127259,2.153537
9990,9e9b4601-655c-4864-bb97-0886dce0a1f8,Female,Married,34,Self-employed,6,24178,12746,102133,300,2,455,314,0.12,Semi-Urban,1,36924,2.766033

In [97]:
df['Credit History'].unique()

array([0, 1, 2])

In [113]:
from sklearn.preprocessing import OneHotEncoder

In [114]:
encoder = OneHotEncoder()

In [115]:
ans=encoder.fit_transform(df[['Gender']
                            ]).toarray()

In [116]:
ans

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])