# Water Potability

## Q1. Import csv file and perform exploratory data analysis by identifying size of the datasets, column information and null values.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

ModuleNotFoundError: No module named 'sklearn'

### A. Read CSV file

In [4]:
df = pd.read_csv('water_potability.csv')
df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

### B. identifying size of the datasets

In [8]:
df.size

32760

### C. identifying columns Information of the datasets

In [9]:
print(df.columns)

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability'],
      dtype='object')

### D. identifying null values of the datasets

In [10]:
print(df.isnull().sum())

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

## Q2. Identify column wise missing values in the dataset and replace them with mean values of the respective column.

### A. Before identify

In [ ]:
print(df.isnull().sum())

### B. Fill with mean

In [11]:
df.fillna(df.mean(numeric_only=True), inplace=True)

### C. After identify

In [ ]:
print(df.isnull().sum())

## Q3. Perform co-relation analysis for the given columns and generate co-relation matrix for the same.

### A. Generate Correlation Matrix

In [ ]:
corr_matrix = df.corr()

print(corr_matrix)

### B. Heatmap of Correlation Matrix

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(corr_matrix, annot=True, cmap="coolwarm", fmt=".2f")
plt.title("Correlation Matrix Heatmap")
plt.show()

## Q4. Implement Naive Bayes Classifier to predict Water Potability.

In [ ]:
X = df.drop("Potability", axis=1)
y = df["Potability"]

# Step 4: Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Step 5: Train Naive Bayes model
nb = GaussianNB()
nb.fit(X_train, y_train)

# Step 6: Make predictions
y_pred = nb.predict(X_test)

# Step 7: Evaluate performance
print("âœ… Accuracy:", accuracy_score(y_test, y_pred))
print("\nâœ… Classification Report:\n", classification_report(y_test, y_pred))
print("\nâœ… Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

# Step 8: Plot Confusion Matrix
plt.figure(figsize=(5,4))
sns.heatmap(confusion_matrix(y_test, y_pred), annot=True, fmt="d", cmap="Blues",
            xticklabels=["Not Potable (0)", "Potable (1)"],
            yticklabels=["Not Potable (0)", "Potable (1)"])
plt.title("Confusion Matrix")
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.show()